header
  display flex
  justify-content flex-end
  width 100%
  background-color #20CAFF
  .loginUser
    display flex
    align-items center
    margin-right 2em
    .name
      color #ffffff
    img
      margin-left 1em
      width 3em
  .menu
    margin-left 10px
    color #ffffff
    background transparent
