header
  display flex
  justify-content flex-end
  height 50px
  width 100%
  background-color #20CAFF
  .loginUser
    display flex
    align-items center
    margin-right 2em
    .name
      color #ffffff
    img
      margin-left 1em
      width 50px
