header
  display flex
  justify-content flex-end
  height 50px
  width 100%
  background-color #20CAFF
  .loginUser
    display flex
    align-items center
    margin-right 2em
    .name
      color #ffffff
    img
      margin-left 1em
      width 50px
  .menu
    height 100%
    position relative
    &:hover .items
      display block
    .button
      height 100%
      margin-left 10px

      color #ffffff
      background transparent
    .items
      display none
      position absolute
      right 0
      bottom -45px
      padding 10px

      background #20CAFF
      border 1px solid #ffffff
      border-top-width 0
      list-style none
      color: #ffffff


