@import 'header.styl'
@import 'search-form.styl'

@import 'foundation/*'
@import 'object/component/*'
@import 'object/project/*'

*
  margin 0
  padding 0

body
  background-color #40A0FF

button
  font-size inherit
  border-width 0
  cursor pointer

.mt-20
  margin-top 20px

.container
  display flex
  flex-direction column
  flex-wrap wrap
  align-items center

  width 100%

.app
  width 100%

.line
  height 10px
  background-image radial-gradient(farthest-side, #fff 33%, rgba(255, 255, 255, 0) 0%)
  background-position bottom
  background-size 30px 10px
  background-repeat repeat-x

