@import 'header.styl'
@import 'search-form.styl'

@import 'foundation/*'
@import 'object/component/*'
@import 'object/project/*'

.mt-20
  margin-top 20px

.container
  display flex
  flex-direction column
  flex-wrap wrap
  align-items center

  width 100%

.app
  width 100%
