.new-todo
  display flex
  height 3em

.new-todo input[type=text]
  display block
  height 100%
  width 100%

  padding-left 0.5em
  color #333
  font-size 2em
  font-weight lighter

.new-todo input[type=text]focus
  outline none

.pager
  display flex
  justify-content center
  color #fff
  cursor pointer
  .item
    margin-left 0.7em
  .first
    margin-left 0
  .numbers
    display flex
