.new-todo
  display flex
  height 3em

.new-todo input[type=text]
  display block
  width 100%

  padding-left 0.5em
  color #333
  font-size 2em
  font-weight lighter

.new-todo input[type=text]focus
  outline none
