.todo-items
  min-width 30em
  max-width 50em
  margin-left auto
  margin-right auto

.todo-item
  display flex
  height 4em
  border 1px solid #b9ebff
  .text
    padding 0.5em
    background-color #fff
  .item-label
    display block
    height 100%
    padding 0 0.3em

    background-color #20CAFF
    color #eee
    font-weight bold
    writing-mode vertical-rl
    text-align center

.user-images
  display flex
  margin-left auto

.user-image
  display flex
  img
    display block
    height 100%
    width 100px
