mixin dropdownMenu
    .p-dropdown-menu.c-dropdown
        button.p-dropdown-menu__button.c-button ▼
        .c-dropdown__content.c-dropdown__content--left
            ul.p-dropdown-menu__items
                li
                    a logout
