mixin todoItem(text, fromUser, toUser)
    .todo-item
        button.done-button
            span.c-todo-vertical-label
                | Done
        p.text #{text}
        .user-images
            +assignee(fromUser.name, fromUser.imagePath, 'From')
            +assignee(toUser.name, toUser.imagePath, 'To')

mixin assignee(userName, userImagePath, text)
    .p-todo-assignee
        span.c-todo-vertical-label #{text}
        img.c-user-image(src=userImagePath, alt=userName)
