.c-horizontal-line
  height 10px
  background-image radial-gradient(farthest-side, #fff 33%, rgba(255, 255, 255, 0) 0%)
  background-position bottom
  background-size 30px 10px
  background-repeat repeat-x
