.p-dropdown-menu

.p-dropdown-menu__button
  height 100%
  padding 0 5px

.p-dropdown__content
  padding 10px

  background color-light-blue
  border 1px solid color-white
  border-top-width 0
  color: color-white

.p-dropdown__content li
  list-style none

