html
    head
        meta(charset='UTF-8')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    body
        .columns
            .column left
            .column right
        .section todo form
        .section line
        .section todo search form
        .section todo item
        .section
            p pager
