-
    function img(path) {
        return `../imgs/${path}`
    }

    function css(path) {
        return `./css/${path}`
    }

-
    var todo = {
        text: '19日の午前10時に課長の田中さんに、新規サイトの進捗をメールで伺う',
        fromUser: {
            name: 'Mike',
            imagePath: img('animal_deer.png'),
        },
        toUser: {
            name: 'Mike',
            imagePath: img('animal_panda.png'),
        },
    }
-
    var loginUser = {
        name: 'Panda',
        imagePath: img('animal_panda.png'),
    }
-
    var searchList = {
        sort: [
            {
                value: 'created',
                label: 'Created',
            },
            {
                value: 'updated',
                label: 'Updated',
            },
        ],
        to: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
        from: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
    }

