-
    var todo = {
        text: '19日の午前10時に課長の田中さんに、新規サイトの進捗をメールで伺う',
        fromUser: {
            name: 'Mike',
            imagePath: '/imgs/animal_deer.png',
        },
        toUser: {
            name: 'Mike',
            imagePath: '/imgs/animal_panda.png',
        },
    }
-
    var loginUser = {
        name: 'Panda',
        imagePath: '/imgs/animal_panda.png',
    }
-
    var searchList = {
        sort: [
            {
                value: 'created',
                label: 'Created',
            },
            {
                value: 'updated',
                label: 'Updated',
            },
        ],
        to: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
        from: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
    }

