* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #40A0FF;
}

button {
  font-size: inherit;
  border-width: 0;
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  margin: 1em 0;
}

.app {
  width: 100%;
}

.line {
  height: 10px;
  background-image: radial-gradient(farthest-side, #fff 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 30px 10px;
  background-repeat: repeat-x;
}

.new-todo {
  display: flex;
  height: 3em;
}

.new-todo input[type=text] {
  display: block;
  height: 100%;
  width: 100%;

  padding-left: 0.5em;
  color: #333;
  font-size: 2em;
  font-weight: lighter;
}

.new-todo input[type=text]:focus {
  outline: none;
}

.todo-item {
  display: flex;
  height: 4em;
  border: 1px solid #b9ebff;
}

.todo-items {
  min-width: 30em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.item-label {
  display: block;
  height: 100%;
  padding: 0 0.3em;

  background-color: #20CAFF;
  color: #eee;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-align: center;
}

.todo-item .text {
  padding: 0.5em;
  background-color: #fff;
}

/**
 * ユーザー画像
 */
.user-images {
  display: flex;
  margin-left: auto;
}

.user-image {
  display: flex;
}

.user-image img {
  display: block;
  height: 100%;
  width: 100px;
}

.search-box {
  display: flex;
  border: 1px solid #fff;
}

.search-item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 5px 10px;
}
.search-item.keyword {
  flex-grow: 5;
}

.search-item .label {
  color: #fff;
  font-size: 1.2em;
}
.search-item input, select {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
.search-item input[type=text] {
  width: 100%;
  height: 100%;
}
