include ../data
include includes/pager
include includes/todo-create-form
include includes/todo-search-form
include includes/todo-item

html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href=css('/main.sass'))
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    body
        .columns
            .column left
            .column right
        .section
            +todoCreateForm(todo.fromUser)
        .is-divider(data-content="OR")
        .section
            +todoSearchForm(searchList.sort, searchList.from, searchList.to)
        .section
            +todoItem(todo.text, todo.fromUser, todo.toUser)
        .section
            +pager([2,3,4,5,6])
