.p-dropdown-menu

.p-dropdown-menu__button
  height 100%
  margin-left 10px

.p-dropdown-menu__items
  padding 10px

  background #20CAFF
  border 1px solid #ffffff
  border-top-width 0
  list-style none
  color: #ffffff
