.p-dropdown-menu
  height 100%
  position relative
  .button
    height 100%
    margin-left 10px

    color #ffffff
    background transparent

.p-dropdown-menu:hover .p-dropdown-menu__items
  display block

.p-dropdown-menu__items
  display none
  position absolute
  right 0
  bottom -45px
  padding 10px

  background #20CAFF
  border 1px solid #ffffff
  border-top-width 0
  list-style none
  color: #ffffff
