.p-dropdown-menu

.p-dropdown-menu__button
  height 100%

.p-dropdown__content
  padding 10px

  background #20CAFF
  border 1px solid #ffffff
  border-top-width 0
  color: #ffffff

.p-dropdown__content li
  list-style none

