.p-todo-search-form
  display flex
  border 1px solid #fff

  height 2em
  padding 5px 10px

.p-todo-search-form__item
  display flex
  flex-grow 1
  justify-content center
  align-items center

.p-todo-search-form__keyword
  flex-grow 5
