mixin dropdownMenu
    .p-dropdown-menu.c-dropdown
        button.p-dropdown-menu__button.c-button ▼
        .p-dropdown__content.c-dropdown__content.c-dropdown__content--left
            ul
                li
                    a logout
