include assignee

mixin todoItem(text, fromUser, toUser)
    .p-todo
        button.done-button
            span.p-todo-label.c-vertical-label
                | Done
        p.p-todo-text #{text}
        .p-todo-assignees
            +assignee(fromUser.name, fromUser.imagePath, 'From')
            +assignee(toUser.name, toUser.imagePath, 'To')
